body {
    background-color: black;
    
}
h1 {
    color:white;
    font-family: Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    }
p{
    color:whitesmoke;
    font-family: Arial, sans-serif;

}
